h1 
{ 
 text-align: center; 
 font-family: "Georgia", serif; 
 font-style: normal; 
 font-weight: 200; 
}

h2 
{ 
 text-align: center; 
 font-family: "Georgia", serif; 
 font-style: normal; 
 font-weight: 200; 
}

h3 
{ 
 text-align: center; 
 font-family: "Georgia", serif; 
 font-style: normal; 
 font-weight: 200; 
}

h4 
{ 
 text-align: center; 
 font-family: "Georgia", serif; 
 font-style: normal; 
 font-weight: 200; 
}
 
p 
{ 
 text-align: center; 
 font-family: "Georgia", serif; 
 font-style: normal; 
 font-weight: 200; 
}

ol 
{ 
 text-align: center; 
 font-family: "Georgia", serif; 
 font-style: normal; 
 font-weight: 200; 
}

body 
{ 
 background: ##F5F5F5;
 color: #D8BFD8;
} 

.center { 
display: block; 
margin-left: auto; 
margin-right: auto; 
} 

img 
{ 
 border-color: black; 
 border-width: small; 
 border-style: solid; 
 padding: 1%;
 margin: 2%; 
} 

nav 
{ 
 text-align: center; 
} 

{ 
 &#34; 
 &quot; 
} 